@model WasteAway.ViewModels.ChangeAddressViewModel

@{
    ViewBag.Title = "Change Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enter Pickup Address</h2>

@using (Html.BeginForm("ChangeAddress", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Change Address Form</h4>
    <hr />
    <p class="alert alert-info">* is a <strong>required</strong> field.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.StreetAddressOne, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.StreetAddressOne,
                new
                {
                    @class = "form-control",
                    autofocus = "autofocus",
                    placeholder = "eg 123 Drury Lane"
                })
            @Html.ValidationMessageFor(m => m.StreetAddressOne)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StreetAddressTwo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.StreetAddressTwo,
                new
                {
                    @class = "form-control",
                    placeholder = "eg Apt, Suite, or Unit #"
                })
            @Html.ValidationMessageFor(m => m.StreetAddressTwo)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CityId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.StateId,
                new SelectList(Model.Cities, "Id", "Name"),
                "",
                new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CityId)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StateId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.StateId,
                new SelectList(Model.States, "Id", "Name"),
                "",
                new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.StateId)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ZipcodeId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ZipcodeId,
                new SelectList(Model.Zipcodes, "Id", "Name"),
                "",
                new { @class = "form-control" })})
            @Html.ValidationMessageFor(m => m.ZipcodeId)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change Address" class="btn btn-default" />
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to my account.", "Index")
    </p>
}