@model WasteAway.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword") : Html.ActionLink("Create", "SetPassword"))
            ]
        </dd>
        <dt>Address:</dt>
        <dd>
            [
            @Html.ActionLink("Change your pickup address", "ChangeAddress")
            ]
        </dd>
        <dt>Pickup Weekday:</dt>
        <dd>
            [
            @Html.ActionLink("Change your weekly pickup day", "ChangePickupWeekday")
            ]
        </dd>
        <dt>Alternate Pickup:</dt>
        <dd>
            [
            @Html.ActionLink("Change your pickup day for next week", "AlternatePickupWeekday")
            ]
        </dd>
        <dt>Set Away Dates:</dt>
        <dd>
            [
            @Html.ActionLink("Suspend your pickup days while on vacation", "SetVacationLeaveDate")
            ]
        </dd>
    </dl>
</div>
