@model WasteAway.ViewModels.VacationViewModel
@{
    ViewBag.Title = "SetVacationReturnDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Set Time Away</h2>

@using (Html.BeginForm("SetVacationReturnDate", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Set Return Date</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.MonthId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.MonthId,
                new SelectList(Model.Months, "Id", "Name"),
                "",
                new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.MonthId)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DayId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.DayId,
                new SelectList(Model.Days, "Id", "Name"),
                "",
                new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DayId)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Year, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Year, new { @class = "form-control", placeholder = "eg 2016" })
            @Html.ValidationMessageFor(m => m.Year)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Continue" class="btn btn-default" />
        </div>
    </div>
    <p>
        @Html.ActionLink("Back.", "SetVacationLeaveDate")
    </p>
}