@model WasteAway.ViewModels.AddressFormViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enter Pickup Address</h2>

@using (Html.BeginForm("Create", "Address"))
{
    <p class="alert alert-info">* is a <strong>required</strong> field.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.StreetAddressOne)
        @Html.TextBoxFor(m => m.StreetAddressOne, new { @class = "form-control", autofocus = "autofocus", placeholder = "eg 123 Drury Lane" })
        @Html.ValidationMessageFor(m => m.StreetAddressOne)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StreetAddressTwo)
        @Html.TextBoxFor(m => m.StreetAddressTwo, new { @class = "form-control", placeholder = "Apt #" })
        @Html.ValidationMessageFor(m => m.StreetAddressTwo)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StateId)
        @Html.DropDownListFor(m => m.StateId, new SelectList(Model.States, "Id", "Name"), "", new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.StateId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.City)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ZipcodeId)
        @Html.TextBoxFor(m => m.ZipcodeId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ZipcodeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.WeekdayId)
        @Html.DropDownListFor(m => m.WeekdayId, new SelectList(Model.Weekdays, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.WeekdayId)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}